@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rombi Technocrat Bold";
  src: url(/src/assets/fonts/RombiTechnocratPersonalBold-51APB.otf);
}

@font-face {
  font-family: "FiraCode Regular";
  src: url(/src/assets/fonts/FiraCode-Regular.ttf);
}

@font-face {
  font-family: "Roboto Mono";
  src: url(/src/assets/fonts/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Rubik";
  src: url(/src/assets/fonts/Rubik-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Lexend";
  src: url(/src/assets/fonts/Lexend-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  font-family: "Roboto Mono";
  color: white;

  margin: 0;
  padding: 0;
}

*::selection {
  background-color: white;
  color: black;
}

html {
  overflow: hidden;
}

html,
body,
:root {
  height: 100%;
}

h1,
h2,
h3 {
  font-family: "Rombi Technocrat Bold";
  font-display: swap;

  transition: all 0.2s linear;
}

.breathing-text {
  animation-name: breathing-text;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.breathing-weight {
  animation-name: breathing-weight;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.link-button {
  position: relative;
  color: white;
  padding: 2px 4px 2px 2px;
  width: 100%;
  text-align: left;
}

.link-button:hover {
  background-color: white;
  color: black;
}

@keyframes breathing-text {
  0% {
    letter-spacing: 0px;
    text-shadow: rgba(255, 255, 255, 0.1) 0 0 50px;
  }

  50% {
    letter-spacing: 0.05em;
    text-shadow: rgba(255, 255, 255, 0) 0 0 50px;
  }

  100% {
    letter-spacing: 0px;
    text-shadow: rgba(255, 255, 255, 0.1) 0 0 50px;
  }
}

@keyframes breathing-weight {
  0% {
    font-weight: 400;
    letter-spacing: 0px;
    text-shadow: rgba(255, 255, 255, 0.1) 0 0 50px;
  }

  50% {
    font-weight: 700;
    letter-spacing: 0.05em;
    text-shadow: rgba(255, 255, 255, 0) 0 0 50px;
  }

  100% {
    font-weight: 400;
    letter-spacing: 0px;
    text-shadow: rgba(255, 255, 255, 0.1) 0 0 50px;
  }
}

.terminal {
  border: 1px solid #333333;
}
